.indicators {
  position: absolute;
  bottom: 38px;
  right: 50%;
  transform: translateX(28px);
  z-index: 10;
  margin-bottom: 28px;

  &__btn {
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
    transition: all 0.5s;

    &:hover {
      transform: rotate(360deg) scale(1.2);
      background-color: rgb(22, 153, 22);
    }
  
    &--active {
      background-color: #fc17aa;
    }
  
    &--active3 {
      background-color: #00cdee;
      
    }
  }
}

.nextSlideBtn {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 44px;
  height: 25px;
  border: none;
  outline: none;
  transform: translate(22px, 12px);
  margin-bottom: 28px;

  z-index: 7;
  cursor: pointer;
  background: url('../../images/svg/purpleTriangle.svg') no-repeat center;

  // &:hover {
    // transform: scale(1.2);
    // background-color: rgb(22, 153, 22);
  // }

  &3 {
    background: url('../../images/svg/blueTriangle.svg') no-repeat center;
    border: 1px solid red;
  }
}
