@import '../../styles/mixins';

.root-1 {
  @include slideProp;
  background-color: #00CDDE;
}

.containerForContent {
  @include containerForContentProp;
}

.containerForContent::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 5%;
  top: 100%;
  left: 50%;
  background-color: #00CDDE;
  transform: translateX(-50%)
}






.container-for-img {
  height: 700px;
  width: 700px;
  position: absolute;
  bottom: -50%;
  right: 0%;
  // transition: bottom 0.5s linear 0.5s;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: phone 0.5s linear 0.5s forwards;
  z-index: 2;
  opacity: 0.8;
}

@keyframes phone {
    to {
      bottom: 0;
    }
}

.circle {
  width: 700px;
  height: 700px;
  position: absolute;
  background-color: red;
  right: -25%;
  bottom: -55%;
  // transform: translate(-25% -75%) ;
  border: 2px solid black;
  border-radius: 50%;
  animation: circle 1.5s cubic-bezier(0.5, 0.2, 0.265, 1.2) 0.5s forwards;
  // transition: all 1s;
  z-index: 1;
  opacity: 0.4;

}

@keyframes circle {
  to {
    transform: translate(-45%, -55%) ;
  }
}
