@import '../../styles/mixins';

.root-2 {
  @include slideProp;
  position: relative;
  background-color: #FFB208;
}

.slide2 {
  &__header-wrapper {
    position: absolute;
    width: 97%;
    padding: 25px;
    z-index: 10;
  }
  
  &__container-for-content {
    @include containerForContentProp;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 5%;
      top: 100%;
      left: 50%;
      background-color: #00CDDE;
      transform: translateX(-50%)
    }

    &--active::after {
      background-color:#FFB208;

    }
  }

  &__dots {
    position: absolute;
    top: 385px;
    right: 200px;
    background: url(../../images/svg/Dots2.svg) no-repeat contain;
    transform: scaleX(-1) rotate(180deg);
  }

  &__img {
    position: absolute;
    width: 1729px;
    height: 1143px;
    top: -716px;
    right: -600px;
    z-index: 2;

    &--active {
      animation: banana 0.5s linear 1s forwards;
    }
  }

  &__circle {
    width: 785px;
    height: 785px;
    position: absolute;
    background-color: #0044FB;
    right: -324px;
    top: -491px;
    border-radius: 50%;
    z-index: 1;

    &--active {
      animation: circle2 1s cubic-bezier(0.5, 0.2, 0.265, 1.2) 1s forwards;
    }
  }
}

@keyframes banana {
  to {
    transform: translate(-210px,405px);
  }
}

@keyframes circle2 {
  to {
    transform: translate(-194px, 330px) ;
  }
}
