$transiltionProps: all 0.3s linear;

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    transition: $transiltionProps;

    &:hover {
      transform: scale(1.15) translate3d(10px, 10px, 10px);
    }
  }
}