@import './styles/reset';
@import './styles/mixins';
@import './styles/fonts';

.showSlides {
  position: relative;
  height: 100vh;
  // overflow: hidden;
  transition: all 0.5s;

  transform: translateX(0);

}

// .showSlides2 {
//   position: relative;
//   height: 100vh;
//   overflow: hidden;
//   // transform: translateX(-10%);
// }
.active2 {
  transition: all 0.5s;
  transform: translateX(-100%);
}

.active3 {
  transition: all 0.5s;
  // transform: translateX(-100%);
}
  .slide1wrapper {
    // grid-area: a;
    position: absolute;
    width: 100%;

  }

  .slide2wrapper {
    // grid-area: b;

    position: absolute;
    // right: 100%;
    width: 100%;
    // right: -100%;
    transform: translateX(100%);
  }

  .slide3wrapper {
    // grid-area: c;
    
  }

  .empty {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
  }